/* @font-face {
    font-family: 'hello-honey';
    src: url('../fonts/hello\ honey.otf');
} */
@font-face {
    font-family: 'montserrat';
    src: url('gender_reveal/fonts/Montserrat-Regular.ttf');
}
*{
    padding: 0px;
    margin: 0px;
}

body{
    background: linear-gradient(90deg, rgba(248, 35, 177, 0.3) 0%, rgba(159,236,251,0.6) 100%);
}
main{
    height: 100vh;
}
h1{
    font-family: 'hello-honey', 'sans-serif';
    font-size: 8em;
}
h2{
    font-family: "montserrat", sans-serif;
    font-size: 1.5em;
}
button{
    font-family: "montserrat", sans-serif !important;
}

#imagen-fondo-abajo{
    background-image: url(../images/confetti-transparent-gif-17.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  .filled-box {
    border: 2px solid black;
  }

  .letter-row {
    display: flex;
  }

  #keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #keyboard-cont div {
    display: flex;
  }

  .second-row {
    margin: 0.5rem 0;
  }

  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
